<a href="https://colab.research.google.com/github/statrav/pages/blob/main/Python_in_Jupyternotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch1. Python Overview

### 01. Hello World in Python

(1) def(함수)를 사용한 Hello World 도출

In [ ]:
def main():
    print("Hello World!")
    print("This program computes the average of two scores.")
    
    score1, score2 = input("Enter your two scores separated by a comma : ").split(",")
    average = (int(score1) + int(score2)) / int(2)
    
    print("The average of your scores is ", average)

In [ ]:
main()

Hello World!
This program computes the average of two scores.
Enter your two scores separated by a comma : 100, 95
The average of your scores is  97.5

(2) Class를 사용한 Hellow World 도출

In [ ]:
class HelloWorld:
    def __int__(self):
        print("Hello World! Just one more time!")
    def __del__(self):
        print("Goodbye!")
    def performAverage(self, val1, val2):
        average = (int(val1)+int(val2))/int(2)
        print("The average of your scores is ", average)

def main():
    world = HelloWorld()
    score1, score2 = input("Enter your two scores separated by a comma : ").split(",")
    world.performAverage(score1, score2)

In [ ]:
main()

Enter your two scores separated by a comma : 100,95
The average of your scores is  97.5
Goodbye!

### 02. Variable Statement and Operators

(1) 복소수 표현방법 : complex

In [ ]:
def main():
    numYearBase10 = 2019
    numYearBase8 = 0o3743
    numYearBase16 = 0x7E3

    print("Year by base 10: %d, by base 8: %d, by base 16: %d" %(numYearBase10, numYearBase8, numYearBase16))
    #'%d'의 경우 그 자리에 데이터를 끼워넣게끔 함 (데이터 순서대로 삽입)

    numComplex1 = complex(3,4)  #복소수 표현방법1
    numComplex2 = 4+3j  #복소수 표현방법2

    print("Complex value : ", numComplex1)
    print("Absoulte value : ", abs(numComplex2))  #절댓값 #복소수의 경우 크기를 반환함
    print("Real value", numComplex2.real)  #실수부
    print("Image value", numComplex2.imag)  #허수부

In [ ]:
main()

Year by base 10: 2019, by base 8: 2019, by base 16: 2019
Complex value :  (3+4j)
Absoulte value :  5.0
Real value 4.0
Image value 3.0

(2) 기본 연산법

![image.png](attachment:image.png)

In [ ]:
def main():
    numTest1 = 10
    numTest2 = 3.0
    numPlus = numTest1 + numTest2
    numMinus = numTest1 - numTest2
    numMultiply = numTest1 * numTest2
    numDivide = numTest1 / numTest2
    numModula = numTest1 % numTest2  #나머지
    print("%d, %d, %d, %f, %d" %(numPlus, numMinus, numMultiply, numDivide, numModula))  # %f : 소수점까지 표현
    print(numTest1 == numTest2)  #같다
    print(numTest1 != numTest2)  #다르다
    print(type(numTest1), numTest1)

In [ ]:
main()

13, 7, 30, 3.333333, 1
False
True
<class 'int'> 10

(3) String : 문자 데이터 타입

In [ ]:
strTest = 'Hello World! ISE'

In [ ]:
# 문자열 위치
print(strTest[0], strTest[-1], strTest[0:3], strTest[0::-1])

H E Hel H

In [ ]:
# 멤버 연산 : in & not in 연산자
print("ISE" in strTest, "ISE" not in strTest)

True False

In [ ]:
# 문자열에서의 +
print(strTest+" Dept")

Hello World! ISE Dept

(4) List : 순서가 있는 수정이 가능한 데이터 타입

In [ ]:
# 값, 범위
lstTest = [1, 2, 3, 4]
print(lstTest[3], lstTest[0:2], lstTest[::-1])

4 [1, 2] [4, 3, 2, 1]

In [ ]:
# List 더하기
print(lstTest+lstTest)
print(lstTest*3)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# 멤버 연산 : in & not in 연산자
print(5 in lstTest, 5 not in lstTest)

False True

In [ ]:
# append : list의 가장 오른쪽에 값을 추가
lstTest.append('num')
print(lstTest)

[1, 2, 3, 4, 'num']

In [ ]:
# list 위치로 인자 삭제
del lstTest[0]
print(lstTest)

[2, 3, 4, 'num']

In [ ]:
# list 순서 뒤바꾸기
lstTest.reverse()
print(lstTest)

['num', 4, 3, 2]

In [ ]:
# list 인자 삭제
lstTest.remove(3)
print(lstTest)

['num', 4, 2]

(5) Tuple : 순서가 있는 수정이 불가능한 데이터 타입

In [ ]:
tplTest = (1, 2, 3)
print(tplTest[0])

1

In [ ]:
#Tuple형식은 값을 바꿀 수 없음
tplTest[0]="hana"

TypeError: 'tuple' object does not support item assignment

(6) Dictionary : 순서가 없고 키:값 으로 구성되어 있는 데이터 타입

In [ ]:
dicTest = {1:'one', 2:'two', 3:'three'}
print(dicTest[1])

one

In [ ]:
# dictionary 추가
dicTest[4] = 'four'
print(dicTest)

{1: 'hana', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# value값 바꾸기
dicTest[1] = 'hana'
print(dicTest)

{1: 'hana', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
# key값 보기
print(dicTest.keys())

# value값 보기
print(dicTest.values())

# list형태로 보기
print(dicTest.items())

dict_keys([1, 2, 3, 4])
dict_values(['hana', 'two', 'three', 'four'])
dict_items([(1, 'hana'), (2, 'two'), (3, 'three'), (4, 'four')])

### 03. Condition and Loop Statement

(1) Condition

In [ ]:
numScore = 75
if numScore > 90:
    print('A')
elif numScore > 80:
    print('B')
elif numScore > 70:
    print('C')
else:
    print('D')

C

In [ ]:
# input 추가
numScore = int(input("Enter your scores: "))
if numScore >= 90:
    print('A')
elif numScore >= 80:
    print('B')
elif numScore >= 70:
    print('C')
else:
    print('D')

Enter your scores: 86
B

(2) Loop Statement

In [ ]:
for itr in range(10):
    print(itr, end='')
print()

0123456789

In [ ]:
# Loop Statement의 활용1

sum = 0
for itr in range(1,11):
    sum += itr
print(sum)

55

In [ ]:
# Loop Statement의 활용2
# range(1, 100, 10)에서 51 제외

print(list(range(1, 100, 10)))

for itr in range(1,100,10):
    if itr == 51:
        continue #itr가 51일 경우 print 단계로 넘어가지 않고 for구문 처음으로 다시 돌아감
    else:
        print(itr, end="/") # end=""를 통해 원하는 기호로 구분 가능
print()

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]
1/11/21/31/41/61/71/81/91/

In [ ]:
# continue와 break의 차이
for itr in range(5):
    print(itr, end=" ")
else:
    print('!')
print('done')

0 1 2 3 4 !
done

In [ ]:
# break를 사용하면 else로 넘어가지 않고 바로 함수 Stop
for itr in range(5):
    if itr == 3:
        break
    print(itr, end=",")
else:
    print('!')
print('done')

0,1,2,done

In [ ]:
itr = sum = 0
while itr < 10:
    itr = itr+1
    if itr == 5:
        break
    sum = sum+itr
else:
    print("Sum from 1 to 10 : ", sum)
print('Goodbye')

Goodbye

### 04. Function Statement

(1) def name(params) : 함수설정 → You can return multiple variables(Keep them in order)

In [ ]:
numA = 1
numB = 2

In [ ]:
def add(numParam1, numParam2):
    return numParam1 + numParam2

In [ ]:
def multiply(numParam1, numParam2):
    return numParam1*2, numParam2*3

In [ ]:
def increase(numParam1, step = 1):  #step 자리에 아무 숫자도 입력하지 않을 시, 1이 고정값으로 들어감
    return numParam1+step

In [ ]:
numC = add(numA, numB)
numD, numE = multiply(numA, numB)
numF = increase(numA, 5)
numG = increase(numA)

In [ ]:
print(numC, numD, numE, numF, numG)

3 2 6 6 2

(2) lambda : One line function

In [ ]:
lambdaAdd = lambda numParam1, numParam2 : numParam1 + numParam2

In [ ]:
numH = lambdaAdd(numA, numB)

In [ ]:
print(numC, numD, numE, numF, numG, numH)

3 2 6 6 2 3

(3) Sample Program : Finding Prime Numbers

In [ ]:
#### Function for calculation (Definition)
def isPrimeNumber(numParam1):
    for itr in range(2, numParam1):
        if numParam1 % itr == 0:
            break
    else:
        return True
    return False

In [ ]:
isPrimeNumber(10), isPrimeNumber(5)

(False, True)

In [ ]:
#### Function for iteration (CALL)
def findPrimes(numParam1, numParam2):
    numCount = 1
    for itr in range(numParam1, numParam2):
        if isPrimeNumber(itr) == True:
            print(numCount, " th prime : ", itr)
            numCount = numCount + 1

In [ ]:
findPrimes(1, 10)

1  th prime :  1
2  th prime :  2
3  th prime :  3
4  th prime :  5
5  th prime :  7

### 05. Assignment and Equivalence

In [ ]:
x = [1, 2, 3]
y = [100, x, 120]
z = [x, 'a', 'b']

In [ ]:
print('x: ', x)
print('y: ', y)
print('z: ', z)

x:  [1, 2, 3]
y:  [100, [1, 2, 3], 120]
z:  [[1, 2, 3], 'a', 'b']

In [ ]:
x[1] = 1717
x

[1, 1717, 3]

In [ ]:
#y를 수정하지 않더라도, x자체가 변하면 y 내의 x값도 변함 (reference 형태로 저장되는 것)
print(y, z)

[100, [1, 2, 3], 120] [[1, 2, 3], 'a', 'b']

In [ ]:
x[1] = 2
x2 = [1, 2, 3]
print(x, x2)

[1, 2, 3] [1, 2, 3]

In [ ]:
if x == x2:
    print("Values are equivalent")
else:
    print("Values are not equivalent")

Values are equivalent

In [ ]:
# 값이 같더라도 x와 x2는 다른 store space에 저장되어 있음

if x is x2:
    print("Values are stored at the same place")
else:
    print("Values are not stored at the same place")

Values are not stored at the same place

In [ ]:
 if x[1] is y[1][1]: # y[1][1] = x[1]
    print("Values are stored at the same place") 
else:
    print("Values are not stored at the same place")

Values are stored at the same place

### 06. Class and Instance

In [ ]:
class MyHome:
    colorRoof = 'red'
    stateDoor = 'closed'
    def paintRoof(self, color):
        self.colorRoof = color
    def openDoor(self):
        self.stateDoor = 'open'
    def closeDoor(self):
        self.stateDoor = 'close'
    def printStatus(self):
        print("Roof color is ", self.colorRoof, ", and door is", self.stateDoor)

In [ ]:
homeatDaegu = MyHome()
homeatSeoul = MyHome()

In [ ]:
homeatDaegu is homeatSeoul

False

In [ ]:
homeatDaegu.paintRoof('blue')

In [ ]:
homeatSeoul.openDoor()

In [ ]:
homeatDaegu.printStatus()

Roof color is  blue , and door is closed

In [ ]:
homeatSeoul.printStatus()

Roof color is  red , and door is open

### 07. Important Methods in Class - Constructor, Destructor

In [ ]:
# Constructor(생성자) : Called when instantiated ← instance를 초기화하여 우리가 원하는 형태로 저장하는 것
# Deconstructor(소멸자) : Called when the instance is removed from the value table ← 안전한 프로그래밍을 위해 필요

In [ ]:
from time import ctime

In [ ]:
class MyHome:
    colorRoof = 'red'
    stateDoor = 'closed'
    def paintRoof(self, color):
        self.colorRoof = color
    def openDoor(self):
        self.stateDoor = 'open'
    def closeDoor(self):
        self.stateDoor = 'close'
    def printStatus(self):
        print("Roof color is ", self.colorRoof, ", and door is", self.stateDoor)
    def __int__(self, strAddress):
        print("Built on", strAddress)
        print("Built at", ctime())
    def __del__(self):
        print("Destroyed at", ctime())

### 08. Module and Import

In [ ]:
# Packages : directories
# Clusters Moules → filename.py
# from package import module
# Package has __init__.py in the directory